*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', sans-serif;
    background-image: url(Background\ Image.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

 .form-container {
      background: white;
      padding: 30px 40px;
      border-radius: 10px;
      box-shadow: 0 5px 10px rgba(0,0,0,0.1);
      width: 100%;
      max-width: 400px;
    }

    .form-container h2 {
      text-align: center;
      margin-bottom: 25px;
    }

    .form-container input {
      width: 100%;
      padding: 12px;
      margin: 10px 0;
      border-radius: 6px;
      border: 1px solid #ccc;
    }

    .form-container button {
      width: 100%;
      padding: 12px;
      background-color: #17a589;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
    }

    .form-container button:hover {
      background-color: #138d75;
    }

    .form-container p {
      text-align: center;
      margin-top: 15px;
    }

    .form-container a {
      color: #148f77;
      text-decoration: none;
    }