*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background-image: url(Background\ Image.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  background: #002f6c;
  color: white;
  width: 220px;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
  font-size: 22px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 15px 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar ul li:hover {
  background: #004b99;
}

.main-content {
  flex: 1;
  padding: 30px;
  background: #e9f4ff;
  overflow-y: auto;
}

.section {
  display: none;
}

.section.active {
  display: block;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 20px;
  flex: 1;
  border-left: 5px solid #00bcd4;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin-top: 20px;
}

form input, form textarea, form button {
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

form button {
  background: #0288d1;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background: #0277bd;
}

.list {
  margin-top: 15px;
  list-style: disc;
  padding-left: 20px;
}