*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background-image: url(Background\ Image.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.services {
  padding: 60px 20px;
  background-color: #e0f7f4;
  text-align: center;
}

.services h2 {
  font-size: 32px;
  color: #00796b;
  margin-bottom: 40px;
}

.service-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
service-card {
  background-color: #fff;
  padding: 25px;
  width: 260px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.service-card:hover {
  transform: translateY(-6px);
}

.service-card h3 {
  color: #009688;
  margin-bottom: 12px;
}
service-card p {
  color: #444;
  font-size: 15px;
}