*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background-image: url(Background\ Image.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}


     .signup-box {
      background-color: white;
      padding: 40px;
      border-radius: 12px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 420px;
    }

    .signup-box h2 {
      text-align: center;
      margin-bottom: 25px;
      color: #00796b;
    }

    .signup-box input {
      width: 100%;
      padding: 12px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 6px;
      outline: none;
    }

      .signup-box button {
      width: 100%;
      padding: 12px;
      background-color: #009688;
      color: white;
      border: none;
      font-size: 16px;
      border-radius: 6px;
      margin-top: 10px;
      cursor: pointer;
    }

    .signup-box button:hover {
      background-color: #00796b;
    }

    .signup-box p {
      text-align: center;
      margin-top: 15px;
    }

    .signup-box a {
      color: #00796b;
      text-decoration: none;
    }

    .signup-box a:hover {
      text-decoration: underline;
    }